@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.App {
  text-align: center;
  text-decoration: none;
  font-family: Righteous;
  font-size: 10px;
}

nav 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #7C8AC5;
  border-color: #7C8AC5;
  border-width: 5px;
  border-style:solid;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.logo-style{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  width: 30%;
  display: inline-flex; 
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  margin-right: 4vh;
  margin-left: 4vh;
}

.nav-links-style
{
  font-family: Righteous;
}
