@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.App {
  text-align: center;
  text-decoration: none;
  font-family: Righteous;
}

nav 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #7C8AC5;
  border-color: #7C8AC5;
  border-width: 5px;
  border-style:solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo-style{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  margin-right: 5%;
  width: 50%;
  display: inline-flex; 
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  text-decoration: none;
}

.nav-links-style
{
  font-family: Righteous;
}
